body {
  font-family: "Montserrat";
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1140px) {
  .container {
    max-width: 1140px;
  }
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

.our-projects__button, .work__button, .services__button, .hero__button {
  text-align: center;
  color: #FFFFFF;
  width: 200px;
  height: 45px;
  background: #4985FF;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  border: none;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: -webkit-transform;
  transition: -webkit-transform;
  transition: transform;
  transition: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-delay: 50ms;
          transition-delay: 50ms;
}
.our-projects__button:hover, .work__button:hover, .services__button:hover, .hero__button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.footer__title, .feedback__title, .work__subtitle, .services__name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #000000;
}

.information__text, .adress__link, .services__about {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  color: #999999;
}

.feedback__button, .work__link, .about-us__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #4985FF;
}

.footer__description {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.61;
  text-align: center;
  color: #999999;
}

.header {
  position: absolute;
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #A1A1A1;
  left: 0;
  right: 0;
  top: 0;
}

.header__link {
  color: #FFFFFF;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}

.header-active::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
  position: absolute;
  left: 0;
  bottom: -39px;
}

.header__pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.hero {
  background-image: url(../images/hero.jpg);
  padding-top: 220px;
  padding-bottom: 335px;
}

.hero .container {
  text-align: center;
}

.hero__text {
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.hero__title {
  font-weight: 800;
  font-size: 48px;
  line-height: 1.33;
  text-align: center;
  color: #FFFFFF;
  max-width: 829px;
  margin: 0 auto 50px;
}

.hero__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.services__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 53px;
  color: #323232;
  padding-bottom: 32px;
  max-width: 739px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.services {
  padding-top: 100px;
  padding-bottom: 105px;
  text-align: center;
}

.services__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.56;
  text-align: center;
  color: #999999;
  max-width: 730px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.services__list {
  margin-top: 70px;
  margin-bottom: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 27px;
}

.services__about {
  margin-top: 12px;
}

.services__item {
  width: 353px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services__block {
  margin-left: 15px;
  padding-top: 51px;
}

.circle__out {
  border: 1px solid #E0E0E0;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 110px;
  height: 110px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.circle__in {
  border: 1px solid #4985FF;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90px;
  height: 90px;
}

.services__svg {
  fill: #999999;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-delay: 50ms;
          transition-delay: 50ms;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.services__item:hover .services__svg {
  fill: #4985FF;
}

.about-us {
  background-color: #f6f6f8;
  padding-top: 100px;
  padding-bottom: 70px;
}

.about-us__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 53px;
  color: #323232;
  margin-bottom: 60px;
}

.about-us__description {
  margin-bottom: 42px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.56;
  text-align: left;
  color: #999999;
}

.about-us-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 90px;
}

.about-us-subblock {
  width: 489px;
}

.about-us__list {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.about-us__svg {
  fill: #4985FF;
}

.about-us__number {
  font-weight: 400;
  font-size: 36px;
  line-height: 53px;
  color: #000000;
  margin-left: 20px;
}

.about-us__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.56;
  text-align: left;
  color: #999999;
}

.work {
  padding-top: 100px;
  padding-bottom: 85px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #504DC2), color-stop(50%, #fff));
  background-image: linear-gradient(to bottom, #504DC2 50%, #fff 50%);
}

.work__service-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 70px;
}

.work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 53px;
  color: #FFFFFF;
  max-width: 540px;
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.work__item {
  -ms-flex-preferred-size: calc((100% - 90px) / 3);
      flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-bottom: 30px;
}

.work__number {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #4985FF;
}

.work__subtitle {
  margin-top: 30px;
  margin-bottom: 30px;
}

.work__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.56;
  text-align: left;
  color: #999999;
  margin-bottom: 47px;
}

.our-projects {
  padding-top: 100px;
  padding-bottom: 130px;
  background-color: #F6F6F8;
}

.our-projects__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 53px;
  color: #000000;
  text-align: center;
  margin-bottom: 28px;
}

.our-projects__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.our-projects__item {
  -ms-flex-preferred-size: calc((100% - 120px) / 4);
      flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-bottom: 30px;
}

.our-projects__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.56;
  text-align: left;
  color: #999999;
  max-width: 730px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
}

.our-projects__button {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.video {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.1))), url(../images/video-background.jpg);
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url(../images/video-background.jpg);
  background-repeat: no-repeat;
  height: 735px;
  width: 100%;
  background-position-x: center;
  background-size: contain;
  padding-top: 70px;
  padding-bottom: 85px;
}

.video__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 53px;
  color: #FFFFFF;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
}

.video__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.56;
  text-align: center;
  color: #999999;
  color: #FFFFFF;
  margin-top: 30px;
  margin-bottom: 70px;
}

.video__content {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url(../images/video.png);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/video.png);
  width: 970px;
  height: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 10px;
}

.video__button {
  background-color: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 200px;
  padding: 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video__icon-btn {
  fill: #FFFFFF;
  background-color: #4985FF;
  border-radius: 50%;
}

.video__text-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
  margin-left: 21px;
}

.video-line {
  background-color: #E0E0E0;
  margin-left: auto;
  margin-right: auto;
  height: 1px;
  margin-top: 85px;
}

.feedback {
  text-align: center;
  padding-bottom: 85px;
}

.feedback__title {
  margin-bottom: 20px;
}

.feedback__ad {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.56;
  text-align: left;
  color: #999999;
  text-align: center;
  margin-bottom: 30px;
}

.feedback__input {
  width: 100%;
  display: block;
  border: 1px solid #f2f2f2;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  padding-top: 15px;
  padding-bottom: 13px;
  padding-left: 33px;
}

.feedback__button {
  width: 190px;
  height: 45px;
  background-color: #4985FF;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 0px 30px 30px 0px;
  padding-top: 13px;
  padding-bottom: 15px;
  padding-left: 26px;
  padding-right: 36px;
  border: none;
  text-decoration: none;
  color: #FFFFFF;
  position: absolute;
  right: -38px;
  top: 2px;
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  transition-property: transform, background-color;
  transition-property: transform, background-color, -webkit-transform;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-delay: 50ms;
          transition-delay: 50ms;
}
.feedback form:hover .feedback__button {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #698bd0;
}

.feedback form {
  position: relative;
  width: 489px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition-property: -webkit-transform, -webkit-box-shadow;
  transition-property: -webkit-transform, -webkit-box-shadow;
  transition-property: transform, box-shadow;
  transition-property: transform, box-shadow, -webkit-transform, -webkit-box-shadow;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-delay: 50ms;
          transition-delay: 50ms;
  border-radius: 30px;
}
.feedback form:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 10px rgba(107, 69, 244, 0.25);
          box-shadow: 0px 0px 10px rgba(107, 69, 244, 0.25);
}

.feedback__warning {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.62;
  text-align: center;
  color: #999999;
  margin-top: 35px;
}

.footer {
  background-color: #F6F6F8;
  padding-top: 70px;
  padding-bottom: 30px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -40px;
  margin-bottom: -30px;
}

.footer__item {
  margin-left: 40px;
}

.footer__item:first-child {
  margin-left: 0;
}

.footer__svg {
  fill: #999999;
  margin-right: 15px;
}

.information__item {
  margin-top: 30px;
}

.information__item:first-child {
  margin-top: 35px;
}

.footer__description::before {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: #999999;
  margin-top: 70px;
  margin-bottom: 30px;
}/*# sourceMappingURL=main.css.map */