.about-us {
  background-color: #f6f6f8;
  padding-top: 100px;
  padding-bottom: 70px;
}
.about-us__title {
  @include title-section($title-secondary-color);
  // max-width: 424px;
  // display: flex;
  // flex-wrap: wrap;
  margin-bottom: 60px;
}
.about-us__description {
  margin-bottom: 42px;
  @include text($text-position: left);
}
.about-us-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 90px;
}
.about-us-subblock {
  // padding-top: 52px;
  width: 489px;
}
.about-us__link {
  @extend %link;
}
.about-us__list {
  margin-top: 70px;
  display: flex;
  justify-content: space-evenly;
}
.about-us__svg {
  fill: $accent-color;
}
.about-us__number {
  font-weight: 400;
  font-size: 36px;
  line-height: 53px;
  color: $title-main-color;
  margin-left: 20px;
}
.about-us__text {
  @include text();
}
