.hero{
    background-image: url(../images/hero.jpg);
    padding-top: 220px;
    padding-bottom: 335px;
}

.hero .container{
    text-align: center;
}

.hero__text{   
    position: relative;
    text-align: center;    
    color: $secondary-text-color;
    margin-bottom: 20px;
    animation: text-top 250ms;
} 
@keyframes text-top {
    0%{ 
        transform: translate(-50%, 100%);
        opacity: 0;
       
    }
 25%{
     opacity: 0.25;
    } 

 50%{
    opacity: 0.50;
 }
 75%{
    opacity: 0.75;
 }
 100%{
    transform: translate(-50%, -50%);
    opacity: 1;
 }  
 
}

.hero__title{
font-weight: 800;
font-size: 48px;
line-height: 1.33;
text-align: center;
color:$secondary-text-color;
max-width: 829px;
margin: 0 auto 50px;
}


.hero__button{
    @extend %button;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: button-right 500ms;
}

@keyframes button-right {
    0%{ 
        opacity: 0;
        top: 0;
    }
 25%{
     opacity: 0.25;
    } 

 50%{
    opacity: 0.50;
 }
 75%{
    // opacity: 0.75;
 }
 100%{
    opacity: 1;
    // top: 50px;
 }  
}