.work {
  padding-top: 100px;
  padding-bottom: 85px;
}


.work__service-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.work__title {
  @include title-section($secondary-text-color);
  max-width: 540px;
}

.work__button {
  @extend %button;
}


.work__list{
 @include grid();
}

.work__item{
  @include item();
}

.work__number{
  font-weight: 600;
font-size: 18px;
line-height: 22px;
color: #4985FF;


}

.work__subtitle{
  margin-top: 30px;
  margin-bottom: 30px;
  @extend %sub-title;
}

.work__text{
@include text();
margin-bottom: 47px;
}

.work__link{
  @extend %link;
}